
.doc > rect {
    fill: antiquewhite;
}

.doc > text {
    font-weight: bold;
}

.tool > rect {
    fill: blue;
    stroke: white;
}

.tool > text {
    font-weight: bold;
    fill:white;
}

.comment {
    display: none;
}

.comment > rect {
    fill:white;
}

.comment > text {
    font-size: 0.7rem;
}

.tree_list > rect {
    fill: whitesmoke;
}